header{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color:beige;
}

li a{
    color:blue;
    display: block;
    padding: 14 px 16px;
    text-decoration:none;
}

li a:hover{
    background-color:bisque;
}

.activo{
    background-color: rgba(0, 0, 0, 0.062);
}

.derecha{
    float: right;
}

.miJumbo{
    background-color: beige;
}

