header{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color:rgb(248, 248, 67);
}

li a{
    color:rgb(165, 163, 62);
    display: block;
    padding: 14 px 16px;
    text-decoration:none;
}

li a:hover{
    background-color:rgb(190, 187, 4);
}

.activo{
    background-color: rgba(255, 251, 0, 0.582);
}

.derecha{
    float: right;
}

.miJumbo{
    background-color: rgb(177, 177, 0);
}

